<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoguoyun.system.mapper.AlbumUserMapper">
    
    <resultMap type="AlbumUser" id="AlbumUserResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="albumId"    column="album_id"    />
    </resultMap>

    <sql id="selectAlbumUserVo">
        select id, create_by, create_time, update_by, update_time, remark, user_id, album_id from album_user
    </sql>

    <select id="selectAlbumUserList" parameterType="AlbumUser" resultMap="AlbumUserResult">
        <include refid="selectAlbumUserVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="albumId != null "> and album_id = #{albumId}</if>
        </where>
    </select>
    
    <select id="selectAlbumUserById" parameterType="Long" resultMap="AlbumUserResult">
        <include refid="selectAlbumUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAlbumUser" parameterType="AlbumUser">
        insert into album_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="albumId != null">album_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="albumId != null">#{albumId},</if>
         </trim>
    </insert>

    <update id="updateAlbumUser" parameterType="AlbumUser">
        update album_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="albumId != null">album_id = #{albumId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlbumUserById" parameterType="Long">
        delete from album_user where id = #{id}
    </delete>

    <delete id="deleteAlbumUserByIds" parameterType="String">
        delete from album_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>