<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoguoyun.system.mapper.ContactUsMapper">

    <resultMap type="ContactUs" id="ContactUsResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectContactUsVo">
        select id, create_by, create_time, update_by, update_time, remark, type from contact_us
    </sql>

    <select id="selectContactUsList" parameterType="ContactUs" resultMap="ContactUsResult">
        <include refid="selectContactUsVo"/>
<!--        <where>-->
<!--            <if test="type != null "> and type = 3</if>-->
<!--        </where>-->
        where type = 3
        ORDER BY create_time DESC
    </select>

    <select id="selectContactUsById" parameterType="Long" resultMap="ContactUsResult">
        <include refid="selectContactUsVo"/>
        where id = #{id}
    </select>

    <insert id="insertContactUs" parameterType="ContactUs">
        insert into contact_us
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateContactUs" parameterType="ContactUs">
        update contact_us
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContactUsById" parameterType="Long">
        delete from contact_us where id = #{id}
    </delete>

    <delete id="deleteContactUsByIds" parameterType="String">
        delete from contact_us where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
