<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoguoyun.system.mapper.OperationIndexMapper">
    
    <resultMap type="OperationIndex" id="OperationIndexResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="type"    column="type"    />
        <result property="albumSongId"    column="album_song_id"    />
    </resultMap>

    <sql id="selectOperationIndexVo">
        select id, create_by, create_time, update_by, update_time, remark, type, album_song_id from operation_index
    </sql>

    <select id="selectOperationIndexList" parameterType="OperationIndex" resultMap="OperationIndexResult">
        <include refid="selectOperationIndexVo"/>
        <where>  
            <if test="type != null "> and type = #{type}</if>
            <if test="albumSongId != null "> and album_song_id = #{albumSongId}</if>
        </where>
    </select>
    
    <select id="selectOperationIndexById" parameterType="Long" resultMap="OperationIndexResult">
        <include refid="selectOperationIndexVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOperationIndex" parameterType="OperationIndex">
        insert into operation_index
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="type != null">type,</if>
            <if test="albumSongId != null">album_song_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="type != null">#{type},</if>
            <if test="albumSongId != null">#{albumSongId},</if>
         </trim>
    </insert>

    <update id="updateOperationIndex" parameterType="OperationIndex">
        update operation_index
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="type != null">type = #{type},</if>
            <if test="albumSongId != null">album_song_id = #{albumSongId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOperationIndexById" parameterType="Long">
        delete from operation_index where id = #{id}
    </delete>

    <delete id="deleteOperationIndexByIds" parameterType="String">
        delete from operation_index where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>