<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoguoyun.system.mapper.SysLevelRuleMapper">
    
    <resultMap type="SysLevelRule" id="SysLevelRuleResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="startNumber"    column="start_number"    />
        <result property="endNumber"    column="end_number"    />
        <result property="levelNum"    column="level_num"    />
    </resultMap>

    <sql id="selectSysLevelRuleVo">
        select id, create_by, create_time, update_by, update_time, remark, start_number, end_number, level_num from sys_level_rule
    </sql>

    <select id="selectSysLevelRuleList" parameterType="SysLevelRule" resultMap="SysLevelRuleResult">
        <include refid="selectSysLevelRuleVo"/>
        <where>  
            <if test="startNumber != null "> and start_number = #{startNumber}</if>
            <if test="endNumber != null "> and end_number = #{endNumber}</if>
            <if test="levelNum != null "> and level_num = #{levelNum}</if>
        </where>
    </select>
    
    <select id="selectSysLevelRuleById" parameterType="Long" resultMap="SysLevelRuleResult">
        <include refid="selectSysLevelRuleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysLevelRule" parameterType="SysLevelRule">
        insert into sys_level_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="startNumber != null">start_number,</if>
            <if test="endNumber != null">end_number,</if>
            <if test="levelNum != null">level_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="startNumber != null">#{startNumber},</if>
            <if test="endNumber != null">#{endNumber},</if>
            <if test="levelNum != null">#{levelNum},</if>
         </trim>
    </insert>

    <update id="updateSysLevelRule" parameterType="SysLevelRule">
        update sys_level_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="startNumber != null">start_number = #{startNumber},</if>
            <if test="endNumber != null">end_number = #{endNumber},</if>
            <if test="levelNum != null">level_num = #{levelNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysLevelRuleById" parameterType="Long">
        delete from sys_level_rule where id = #{id}
    </delete>

    <delete id="deleteSysLevelRuleByIds" parameterType="String">
        delete from sys_level_rule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>