<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoguoyun.system.mapper.UserLikeFollowInformMapper">
    
    <resultMap type="UserLikeFollowInform" id="UserLikeFollowInformResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="fromId"    column="from_id"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectUserLikeFollowInformVo">
        select id, create_by, create_time, update_by, update_time, remark, user_id, from_id, type from user_like_follow_inform
    </sql>

    <select id="selectUserLikeFollowInformList" parameterType="UserLikeFollowInform" resultMap="UserLikeFollowInformResult">
        <include refid="selectUserLikeFollowInformVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="fromId != null "> and from_id = #{fromId}</if>
            <if test="type != null "> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectUserLikeFollowInformById" parameterType="Long" resultMap="UserLikeFollowInformResult">
        <include refid="selectUserLikeFollowInformVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserLikeFollowInform" parameterType="UserLikeFollowInform">
        insert into user_like_follow_inform
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="fromId != null">from_id,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="fromId != null">#{fromId},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateUserLikeFollowInform" parameterType="UserLikeFollowInform">
        update user_like_follow_inform
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="fromId != null">from_id = #{fromId},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserLikeFollowInformById" parameterType="Long">
        delete from user_like_follow_inform where id = #{id}
    </delete>

    <delete id="deleteUserLikeFollowInformByIds" parameterType="String">
        delete from user_like_follow_inform where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>